#chatpirate{
    overflow: hidden;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-color: rgb(244, 244, 244);
}

#chatpirate .alert{
    text-align: left;
    margin: 10px 40px;
}

#chatpirate .logo{
    margin-bottom: 20px;
}

#chatpirate .panel{
    background: #ffffff;
    border:none !important;
    background-image: url("../img/pirate.png");
    background-position: 70px center;
    background-repeat: no-repeat;
    padding-left: 220px !important;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

#chatpirate .form-group{
    overflow: hidden;
}

#chatpirate .form-group span{
    float: left;
    display: inline-block;
    width: 100px;
    position: relative;
    top: 5px;
    font-size: 15px;
}

#chatpirate .form-group input[type="text"],
#chatpirate .form-group input[type="password"]{
    display: inline-block;
    width: 300px;
}

#chatpirate #loginbox{
    display: inline-block;
    text-align: left;
    margin-top: 30px;
}

#chatpirate input[type="submit"],
#chatpirate .btn_chatpirate_login{
    display: block;
    clear: both;
    float: right;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 15px;
    border: 1px solid #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 0px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 0px 0px rgba(50, 50, 50, 0.5);    background: #f7af2e; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7af2e 0%, #e18326 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7af2e), color-stop(100%,#e18326)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7af2e 0%,#e18326 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7af2e 0%,#e18326 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7af2e 0%,#e18326 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7af2e 0%,#e18326 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7af2e', endColorstr='#e18326',GradientType=0 ); /* IE6-9 */
}

#chatpirate input[type="submit"]:hover,
#chatpirate .btn_chatpirate_login:hover{
    border-color: #333333;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e18326+0,f7af2e+100 */
    background: #e18326; /* Old browsers */
    background: -moz-linear-gradient(top,  #e18326 0%, #f7af2e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e18326), color-stop(100%,#f7af2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e18326 0%,#f7af2e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e18326 0%,#f7af2e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e18326 0%,#f7af2e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e18326 0%,#f7af2e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e18326', endColorstr='#f7af2e',GradientType=0 ); /* IE6-9 */
}

#chatpirate .btn_chatpirate_login{
    float: none;
    display:inline-block;
    font-size: 19px;
    margin: 40px 0 20px 0;
}

#chatpirate .signup,
#chatpirate .logout{
    margin-top: 20px;
    font-size: 15px;
    display: block;
}

#chatpirate .logout #logout{
    color: #00AFF0;
    display: inline;
}

#chatpirate .logout #logout:hover {
    color: #0082B3;
    text-decoration: underline;
    cursor: pointer;
}

#chatpirate .cp_success{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

#chatpirate .cp_success::before{
    content: "";
    display: block;
    background-image: url("../img/check.png");
    width: 50px;
    height: 50px;
    background-size: 100%;
    position: absolute;
    left: -51px;
    top: -11px;
}

#chatpirate #hide_login{
    display: none;
}

@media (max-width: 1140px){
    #chatpirate .panel {
        background: #FFF;
        padding-left: 0px !important;
    }
}

@media (max-width: 950px){
    #chatpirate .cp_success::before{
        display: none;
    }

    #chatpirate .cp_success {
        font-size: 15px;
        font-weight: normal;
    }
}

@media (max-width: 600px){
    #chatpirate .form-group span {
        float: none;
        display: block;
    }

    #chatpirate .form-group input[type="text"],
    #chatpirate .form-group input[type="password"] {
        display: block;
        float: none;
    }
    #chatpirate input[type="submit"]{
        float: none;
        margin: 0 auto;
    }

    #chatpirate .alert {
        margin: 20px;
    }

}

@media (max-width: 360px){
    #chatpirate .logout #logout{
        display: block;
    }

    #chatpirate .panel{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    #chatpirate .form-group input[type="text"],
    #chatpirate .form-group input[type="password"],
    #chatpirate .form-group,
    #chatpirate #loginbox{
        width: 100%;
    }

}
